target/
build/
logs/
.gradle
datanucleus.log
.DS_Store
out
*.iml
*.ipr
*.iws
.idea
.settings
.classpath
.project
/ucl-hackathon-api/public
node_modules
/ucl-hackathon-api/src/main/resources/templates/index.html
/.storage/